{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>At Gym and Fitness, we believe that fitness and wellbeing are the cornerstones of a full and vibrant life.
         Established in 2024, we began our journey as a family-owned business dedicated to providing exceptional gym equipment at affordable prices.
         But, we dreamed bigger than just being an ordinary fitness equipment supplier; we aspired to lead the industry.
         Our real success lies in the thousands of customers we've empowered to live longer, more joyful, and healthier lives. We're more than just a fitness company – we're your partners in health, your cheerleaders on the sideline, 
         motivating you to reach your personal fitness goals. Embrace the fitness journey with us and see how it transforms your world.</p>
         <h2>OUR VALUES</h2>
{% endblock content %}