{% extends "layout.html" %}
{% block content %}
<h1 class="text-white mb-3">Daily Schedule</h1>
    {% for class in classes %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ class.title }}</a>
          <small class="text-muted">{{ class.day }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ class.description }}</a></h2>
        <p class="article-content">{{ class.time }}</p>
      </div>
    </article>
    {% endfor %}
{% endblock content %}